<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ARIS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav pull-right">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: "nav-link" %></li>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to 'Profile', user_detail_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'Log In', new_user_session_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>